@import "bourbon/bourbon";
@import "neat/neat";

/****************************************
  Main styles for oversight.garden.
*****************************************/

// set the grid to 12 columns, no gutter
$grid-columns: 12;
$gutter: 0em !global;


/*********** Colors ************/

// header and footer areas
$frame-background: #136932;
$frame-foreground: #f5f5f5;
$frame-links: #3EC04E;
$white: #fff;

// center area
$main-background: #f5f5f5;
$main-foreground: #0a0a0a;
$main-links: #297432;

$callout-background: #d0ebc1;


/************* Text sizes ********/

$main-font-size: 11pt;
$main-line-height: 25px;
$search-bar-font-size: 20px;


/************** Fonts *************/

$main-font: "Open Sans", "Arial", sans-serif;
$pre-font: "Fira Mono", monospace;
body {font-family: $main-font;}
pre {font-family: $pre-font;}


/***** Main Layout ******/

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; margin: 0; padding: 0;
  display: inline-block;
}

body {

  font-size: $main-font-size;
  input {font-size: $main-font-size;}

  line-height: $main-line-height;

  color: $frame-foreground;
  background-color: $frame-background;

  a, a:visited {
    color: $frame-links;
  }
}

header {
  padding: 20px 20px;

  h1 {
    font-size: 2em;
    a, a:visited {
      text-decoration: none;
      color: $white;
    }
  }
}

section.main {
  color: $main-foreground;
  background-color: $main-background;

  padding: 30px 20px;

  a, a:visited {
    color: $main-links;
  }
}

#query {
  font-size: $search-bar-font-size;

  padding: 5px 10px;
  margin-bottom: 10px;
}

footer {
  padding: 10px 20px;

  p {
    margin: 5px 0;
  }
}


/******* Home page **********/

.home {

  h2 {font-weight: bold;}

  .search-bar-container {
    margin-bottom: 20px;
  }

  section  {
    width: 45%;
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
  }

  .intro p {
    padding-bottom: 13px;
  }

  .featured {
    background-color: $callout-background;
    padding: 10px;

    h2 {margin-bottom: 10px;}

    h4 {
      margin-bottom: 10px;
      a.landing {font-weight: bold;}
    }

    p {margin-bottom: 10px;}

    .tl {
      .submit {padding: 2px 10px;}

      input[type=text] {
        width: 200px;
        padding: 2px 5px;
      }
    }
  }

}

/****** Search bar *******/

.search-bar-container {
  @include span-columns(12);

  input[type='search'] {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: 0;
  }
}


/******* Document search results. **/

.reports {
  ul, li {list-style-type: none;}
  li {
    margin: 40px 0;

    h2 {
      font-size: 20px;
      line-height: 30px;
      display: block;

      a {text-decoration: none;}
      a:hover {text-decoration: underline;}
    }

    h4 {margin: 10px 0;}

    p {
      background-color: #e5e5e5;
      padding: 5px 10px;
      margin: 10px 0;
      font-family: Average, serif;
    }

    .links {font-size: 12px;}
  }
}


/******* Report landing page. ********/

.report {
  h2 {
    display: block;
    font-size: 30px;
    line-height: 41px;
  }

  h4 {
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
  }

  p {
    font-size: 18px;
    margin-top: 30px;
  }

  .text {
    border: 1px solid #888;
    margin: 40px 0;
    padding: 40px;
  }
}


/******* Office landing page. ******/

.inspector {
  .infobox {
    background-color: #d0ebc1;
    padding: 20px;
    margin-bottom: 40px;
    h2 {
      max-width: 600px;
      font-weight: bold;
      font-size: 20px;
      vertical-align: top;
    }
  }
}


/************* List of offices. ********/

.inspectors {
  ul, li {list-style-type: none;}
  li {
    margin: 40px 0;

    div {
      vertical-align: top;
      max-width: 600px;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
  }

  .inspector-info {display: inline-block;}
  .inspector-link {display: block;}
}
