@import "bourbon/bourbon";
@import "neat/neat";

/****************************************
  Main styles for oversight.garden.
*****************************************/

// set the grid to 12 columns, no gutter
$grid-columns: 12;
$gutter: 0em !global;


/*********** Colors ************/

// primary theme colors
$oversight-green: #63e295;
$oversight-gray: #cccccc;
$oversight-red: #f36f62;
$oversight-white: #ffffff;
$oversight-font-dark: #333333;
$oversight-font-light: #ffffff;

// header and footer areas
$frame-background: #136932;
$frame-foreground: #f5f5f5;
$frame-links: #3EC04E;
$white: #fff;

// center area
$main-background: #f5f5f5;
$main-foreground: #0a0a0a;
$main-links: #297432;

$callout-background: #d0ebc1;


/************* Text sizes ********/

$main-font-size: 11pt;
$search-bar-font-size: 20px;
$site-title-size: 2em;
$header-size: 20px;

$main-line-height: 25px;
$header-height: 31px;

/************** Fonts *************/

$main-font: "Open Sans", "Arial", sans-serif;
$pre-font: "Fira Mono", monospace;
$search-result-font: Average, serif;




/***** Main Layout ******/

h1, h3, h4, h5, h6 {
  font-weight: normal; margin: 0; padding: 0;
  display: inline-block;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
  input {font-size: $main-font-size;}

  line-height: $main-line-height;

  color: $frame-foreground;
  background-color: $frame-background;

  a, a:visited {
    color: $frame-links;
  }

  h2 {
    font-weight: bold;
    font-size: $header-size;
    line-height: $header-height;
    display: block;
  }

  pre {
    font-family: $pre-font;
  }
}

header, section.main, footer {
  @include span-columns(12);
}

header {
  padding: 20px 20px;

  h1 {
    font-size: $site-title-size;

    a, a:visited {
      text-decoration: none;
      color: $white;
    }
  }
}

section.main {
  color: $main-foreground;
  background-color: $main-background;

  padding: 30px 20px;

  a, a:visited {
    color: $main-links;
  }

  .search-bar {

    input[type='search'] {
      @include span-columns(6);

      font-size: $search-bar-font-size;
      text-align: center;

      padding: 10px;
      margin-bottom: 10px;

      border: 1px solid #ccc;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      outline: 0;
    }

    select {}
    input[type='submit'] {}
  }
}

footer {
  padding: 10px 20px;

  p {
    margin: 5px 0;
  }
}


/******* Home page **********/

.home {

  .search-bar-container {
    margin-bottom: 20px;
  }

  .intro, .featured {
    @include span-columns(6);
  }

  .intro p {
    padding-bottom: 13px;
  }

  .featured {
    background-color: $callout-background;
    padding: 10px;

    h2 {margin-bottom: 10px;}
    h4 {margin-bottom: 10px;}
    p {margin-bottom: 10px;}

    .tl {
      input[type=text] {
        @include span-columns(6);
        padding: 2px 5px;
      }

      input[type=submit] {
        padding: 2px 10px;
      }

    }
  }

}


/******* Document search results. **/

.reports {
  ul, li {list-style-type: none;}

  li {
    margin: 40px 0;

    h2 {
      a {text-decoration: none;}
      a:hover {text-decoration: underline;}
    }

    h4 {margin: 10px 0;}

    p {
      font-family: $search-result-font;

      background-color: #e5e5e5;
      padding: 5px 10px;
      margin: 10px 0;
    }

  }
}


/******* Report landing page. ********/

.report {
  h2 {
    font-size: $header-size;
    line-height: $header-height;
  }

  h4 {
    display: block;
    margin-top: 10px;
  }

  p {margin-top: 30px;}

  .text {
    border: 1px solid #888;
    margin: 40px 0;
    padding: 40px;
  }
}


/******* Office landing page. ******/

.inspector {
  .infobox {
    background-color: #d0ebc1;

    padding: 20px;
    margin-bottom: 40px;
  }
}


/************* List of offices. ********/

.inspectors {
  ul, li {list-style-type: none;}

  li {
    margin: 40px 0;

    div {
      vertical-align: top;
    }
  }

  .inspector-info {display: inline-block;}
  .inspector-link {display: block;}
}
