@import "vendors/normalize/normalize";
@import "vendors/bourbon/bourbon";
@import "vendors/neat/neat";

@import "settings";
@import "breakpoints";
@import "components/typography";

@import "base";


/***** Main Layout ******/

h1, h3, h4, h5, h6 {
  font-weight: normal; margin: 0; padding: 0;
  display: inline-block;
}

body {
  h2 {
    font-weight: bold;
    font-size: $subheader-size;
    line-height: $subheader-height;
    display: block;
  }

  pre {
    font-family: $font-family-mono;
  }
}

.center {
  @include outer-container;

  padding: 30px 20px;
}

.search-home {
  font-size: $search-bar-font-size;
  text-align: center;
  position: relative;

  input[type='search'] {
    background: transparent;
    padding-right: 32px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $brand-color;
  }

  input[type='submit'] {
    position: relative;
    right: 32px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: unset;
    background-image: url(/images/search-brand-color.svg);
  }

  select {}
  input[type='submit'] {}

  small {

  }
}

.tag {
  height: 20px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: $gray;
}

/******* Home page **********/

.home {

  .search-bar-container {
    margin-bottom: 20px;
  }

  .search {
    background-image: url(/images/background-books.jpg);
  }

  .intro {
    @include span-columns(6);
    p {
      padding-bottom: 13px;
    }
  }

  a.card:hover {
    text-decoration: inherit;
    background-color: #e5e5e5;
  }

  a.card {
    h2:hover {text-decoration: underline;}
    h2 img {
      margin-bottom: -3px;
      margin-left: 5px;
    }
  }

  .card.newsletter {
    input[type=text] {
      height: 30px;
      border: solid 2px $gray;
      padding-left: 5px;
      @include placeholder {
        font-style: italic;
      }
    }

    input[type=submit] {
      height: 30px;
      border: none;
      color: $text-color-white;
      background-color: $brand-color;
    }
  }


  .cards {
    background-color: $gray-dark;
    padding: 30px 20px;
  }

  .about {
    background-color: $gray-dark;

    h1 {
      @include fill-parent;
      color: $brand-color;
      text-align: center;
    }
    p {
      font-size: $gamma;
      color: $text-color-white;
    }
    a.button {
      display: inline-block;
      margin-top: 10px;
      background-color: $brand-color;
      padding: 10px 25px;
      color: $text-color-white;
      border-radius: 3px;
    }
  }

}


/****** Document search results. */

.inspector-filter {
  border-bottom: 1px solid $gray;

  strong {
    @include span-columns(2);
  }

  select {
    @include span-columns(8);
  }
}

.date-filter {
  strong {
    @include span-columns(2);
  }

  span#date-filter-clear {
    color: $link-color;
    cursor: pointer;
    @include user-select(none);
  }

  input[type='date'] {
    margin-left: 5px;
    margin-right: 20px;
  }
}

.filters {
  background-color: $gray-dark;
  border-bottom: 1px solid $gray;
}

.apply {
	float: right;
}

.reports {
  background-color: $gray-dark;
  min-height: 30em;

  .count, .no-results {
    color: $text-color-white;
    padding: 0 30px;
  }

  ul, li {list-style-type: none;}
  ul {padding: 0;}

  li {
    background-color: $white;
    border-radius: 4px;
    padding: 25px 30px;
    margin: 30px 0;

    img {
      float: left;
      margin-right: 20px;
    }

    h2 a, a.inspector-link {
      color: $text-color;
    }

    .date {
    }

    p {
      font-family: $search-result-font;
      margin-top: 10px;
      margin-bottom: 25px;
      line-height: 1.5;
    }

    .report-bottom {
      @include outer-container;
      padding-top: 25px;
      border-top: 1px solid $gray;

      .tags {
        @include span-columns(6);
      }

      .links {
        @include span-columns(6);
        text-align: right;

        a {
          margin-left: 30px;
        }
      }
    }
  }

  .pagination {
    @include outer-container;

    .previous-page {
      @include span-columns(4);
      text-align: left;
    }

    .page-number {
      @include span-columns(4);
      color: $text-color-white;
      text-align: center;
    }

    .next-page {
      @include span-columns(4);
      text-align: right;
    }
  }
}


/******* Report landing page. ********/

.report {
  h2 {
    font-size: $header-size;
    line-height: $header-height;
  }

  h4 {
    display: block;
    margin-top: 10px;
  }

  p {margin-top: 30px;}

  .text {
    border: 1px solid #888;
    margin: 40px 0;
    padding: 40px;
  }
}


/************* List of offices. ********/

.inspectors {
  ul, li {list-style-type: none;}

  li {
    margin: 40px 0;

    div {
      vertical-align: top;
    }
  }

  .inspector-info {display: inline-block;}
  .inspector-link {display: block;}
}
