<form action="/reports" method="get" class="search-bar">
    <input type="search" id="query" name="query" placeholder="Search documents..."
    <% if ((typeof(query) != "undefined") && query) { %>
        value="<%= query %>"
    <% } %>
    />

    <!-- <select name="inspector">
        <option value="">All Inspectors General</option>
        <% for (var i = 0; i < helpers.inspector_list.length; i++) { %>
            <option value="<%= helpers.inspector_list[i].slug %>"
                <% if (inspector && inspector[0] && inspector[0] === helpers.inspector_list[i].slug) { %>
                    selected
                <% } %>
            >
                <%= helpers.inspector_list[i].short_name %>
            </option>
        <% } %>
    </select> -->

    <!-- <input type="submit" value="Search" /> -->

    <!-- <small>
        <a href="#">advanced filters</a>
    </small> -->
</form>
