.DS_Store
/todo.txt
/config/config.yaml
/data
/public/sitemap
*.log
*.pyc
/node_modules
.sass-cache
/.rake_tasks~
/public/blog
/public/scripts/nodep-date-input-polyfill.dist.js
/public/scripts/jquery.min.js
/public/scripts/jquery.min.map
/public/scripts/jquery.js
