<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Oversight Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
<link rel="shortcut icon" href="/favicon.png" />
<script src="/scripts/jquery.min.js"></script>
</head>
<body>
<h1>Oversight Dashboard</h1>
<ul class="accordion">
  <% for (var i = 0; i < results.hits.hits.length; i++) { %>
    <% var hit = results.hits.hits[i]; %>
    <li class="severity-<%= hit._source.severity %>">
      <a href="javascript:void(0)" class="js-accordion-trigger">
        <%= hit._id %>
      </a>
      <ul class="submenu">
        <li>
          <% var exceptions_count = hit._source.exceptions ? hit._source.exceptions.length : 0; %>
          <h5><%= exceptions_count %> exception<%= exceptions_count != 1 ? "s" : "" %></h5>
          <% if (exceptions_count > 0) { %>
            <ul class="accordion">
              <% for (var j = 0; j < hit._source.exceptions.length; j++) { %>
                <% var exception = hit._source.exceptions[j]; %>
                <li>
                  <a href="javascript:void(0)" class="js-accordion-trigger">
                    <%= exception.class_name %> thrown in <%= exception.function %> at <%= exception.filename %>:<%= exception.line_num %>
                  </a>
                  <ul class="submenu">
                    <li>
                      <pre><%= exception.traceback %></pre>
                    </li>
                  </ul>
                </li>
              <% } %>
            </ul>
          <% } %>
          <% var duplicate_count = hit._source.duplicate_ids ? hit._source.duplicate_ids.length : 0; %>
          <h5><%= duplicate_count %> duplicate ID<%= duplicate_count != 1? "s" : "" %></h5>
          <% if (duplicate_count > 0) { %>
            <% for (var j = 0; j < hit._source.duplicate_ids.length; j++) { %>
              <%= hit._source.duplicate_ids[j] %><br/>
            <% } %>
          <% } %>
          <% var missing_date_count = hit._source.missing_dates ? hit._source.missing_dates.length : 0; %>
          <h5><%= missing_date_count  %> missing date<%= missing_date_count != 1 ? "s" : "" %></h5>
          <% if (missing_date_count > 0) { %>
            <% for (var j = 0; j < hit._source.missing_dates.length; j++) { %>
              <% var missing_date = hit._source.missing_dates[j]; %>
              <% if (missing_date.url) { %>
                <span class="report-id"><%= missing_date.report_id %></span>, <a href="<%= missing_date.url %>"><%= missing_date.title %></a><br/>
              <% } else { %>
                <span class="report-id"><%= missing_date.report_id %></span>, <%= missing_date.title %><br/>
              <% } %>
            <% } %>
          <% } %>
          <% var http_error_count = hit._source.http_errors ? hit._source.http_errors.length : 0; %>
          <h5><%= http_error_count %> http error<%= http_error_count != 1 ? "s" : "" %></h5>
          <% if (http_error_count > 0) { %>
            <% for (var j = 0; j < hit._source.http_errors.length; j++) { %>
              <% var http_error = hit._source.http_errors[j]; %>
              Error code <%= http_error.status_code %> from <a href="<%= http_error.url %>"><%= http_error.url %></a><br/>
            <% } %>
          <% } %>
          <h5><%= hit._source.report_count %> report<%= hit._source.report_count != 1 ? "s" : "" %></h5>
        </li>
      </ul>
    </li>
  <% } %>
</ul>

<script>
  $(".js-accordion-trigger").bind("click", function(e) {
    $(jQuery(this).parent().find(".submenu")[0]).slideToggle("fast");
    jQuery(this).parent().toggleClass("is-expanded");
    e.preventDefault();
  });
</script>
</body>
</html>
