<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Oversight Dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
<link rel="shortcut icon" href="/favicon.png" />
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/dashboard.js"></script>
</head>
<body>
<h1>Oversight Dashboard</h1>
<% if (results) { %>
  <ul class="accordion">
    <% for (var i = 0; i < results.hits.hits.length; i++) { %>
      <% var hit = results.hits.hits[i]; %>
            <% var exceptions_count = hit._source.exceptions ? hit._source.exceptions.length : 0; %>
            <% var duplicate_count = hit._source.duplicate_ids ? hit._source.duplicate_ids.length : 0; %>
            <% var missing_date_count = hit._source.missing_dates ? hit._source.missing_dates.length : 0; %>
            <% var http_error_count = hit._source.http_errors ? hit._source.http_errors.length : 0; %>
      <li class="severity-<%= hit._source.severity %>">
        <a href="#" class="js-accordion-trigger">
          <%= hit._id %>
          <span class="short-summary">
            <% if (exceptions_count) { %>
              <%= exceptions_count %> exception<%= exceptions_count != 1 ? "s" : "" %>,
            <% } %>
            <% if (duplicate_count) { %>
              <%= duplicate_count %> duplicate ID<%= duplicate_count != 1? "s" : "" %>,
            <% } %>
            <% if (missing_date_count) { %>
              <%= missing_date_count  %> missing date<%= missing_date_count != 1 ? "s" : "" %>,
            <% } %>
            <% if (http_error_count) { %>
              <%= http_error_count %> HTTP error<%= http_error_count != 1 ? "s" : "" %>,
            <% } %>
            <%= hit._source.report_count %> report<%= hit._source.report_count != 1 ? "s" : "" %>,
            <%= helpers.format_time_ago(hit._source.timestamp) %>
          </span>
        </a>
        <ul class="submenu">
          <li>
            <h5><%= exceptions_count %> exception<%= exceptions_count != 1 ? "s" : "" %></h5>
            <% if (exceptions_count > 0) { %>
              <ul class="accordion">
                <% for (var j = 0; j < hit._source.exceptions.length; j++) { %>
                  <% var exception = hit._source.exceptions[j]; %>
                  <li>
                    <a href="#" class="js-accordion-trigger">
                      <%= exception.class_name %> thrown in <%= exception.function %> at <%= exception.filename %>:<%= exception.line_num %>
                    </a>
                    <ul class="submenu">
                      <li>
                        <pre><%= exception.traceback %></pre>
                      </li>
                    </ul>
                  </li>
                <% } %>
              </ul>
            <% } %>
            <h5><%= duplicate_count %> duplicate ID<%= duplicate_count != 1? "s" : "" %></h5>
            <% if (duplicate_count > 0) { %>
              <% for (var j = 0; j < hit._source.duplicate_ids.length; j++) { %>
                <%= hit._source.duplicate_ids[j] %><br/>
              <% } %>
            <% } %>
            <h5><%= missing_date_count  %> missing date<%= missing_date_count != 1 ? "s" : "" %></h5>
            <% if (missing_date_count > 0) { %>
              <% for (var j = 0; j < hit._source.missing_dates.length; j++) { %>
                <% var missing_date = hit._source.missing_dates[j]; %>
                <% if (missing_date.url) { %>
                  <span class="report-id"><%= missing_date.report_id %></span>, <a href="<%= missing_date.url %>"><%= missing_date.title %></a><br/>
                <% } else { %>
                  <span class="report-id"><%= missing_date.report_id %></span>, <%= missing_date.title %><br/>
                <% } %>
              <% } %>
            <% } %>
            <h5><%= http_error_count %> HTTP error<%= http_error_count != 1 ? "s" : "" %></h5>
            <% if (http_error_count > 0) { %>
              <% for (var j = 0; j < hit._source.http_errors.length; j++) { %>
                <% var http_error = hit._source.http_errors[j]; %>
                <% if (http_error.status_code) { %>
                  Error code <%= http_error.status_code %> from <a href="<%= http_error.url %>"><%= http_error.url %></a><br/>
                <% } else { %>
                  <%= http_error.exception_name %> from <a href="<%= http_error.url %>"><%= http_error.url %></a><br/>
                <% } %>
              <% } %>
            <% } %>
            <h5><%= hit._source.report_count %> report<%= hit._source.report_count != 1 ? "s" : "" %></h5>
          </li>
        </ul>
      </li>
    <% } %>
  </ul>
<% } else { %>
  Error loading data!
<% } %>
</body>
</html>
