<% include layout/header.html %>

<section class="main inspectors"><div class="inner">
  <h2>This is a list of inspectors general</h2>
  <ul>
    <% for (var i = 0; i < helpers.inspector_list.length; i++) { %>
    <% var inspector = helpers.inspector_list[i]; %>
    <li>
      <a href="/inspector/<%= helpers.escape_attribute(inspector.slug) %>"><%= inspector.name %></a>
      <% if (inspectorReportCounts !== null) { %>
      (<%= inspectorReportCounts[inspector.slug] || 0 %> reports)
      <% } %>
    </li>
    <% } %>
  </ul>
</div></section>

<% include layout/footer.html %>
