<% include layout/header.html %>

<section class="main inspector"><div class="inner">
  <% if (metadata) { %>
    <div>
      <img src="/images/inspectors/<%= metadata.slug %>.png">
      <h2><%= metadata.name %></h2>
    </div>
    <div>
      Established in <%= metadata.established_year %>,
      <% if (metadata.active) { %>
      currently active
      <% } else { %>
      not currently active
      <% } %>
    </div>
    <div>
      <% var agencies_with_the = metadata.agencies.map(function(s){return "the " + s;}); %>
      Oversees <%= helpers.join_and(agencies_with_the) %>
    </div>
    <div>
      Homepage: <a href="<%= metadata.homepage_url %>"><%= metadata.homepage_url %></a>
    </div>
    <div>
      <% if (metadata.publishes_reports) { %>
        Publishes reports online
      <% } else { %>
        Does not publish reports
      <% } %>
    </div>
    <div>
      Statutory reference: <%= metadata.statutory_reference %>
    </div>
    <div>
    <% if (!inspectorReportCount || !results.hits.total) { %>
    No reports were found.
    <% } else { %>
    <%= results.hits.total %> most recent reports (of <%= inspectorReportCount %>)
    <ul>
    <% var hits = results.hits.hits; %>
    <% for (var i = 0; i < hits.length; i++) { %>
      <% var report = hits[i]._source; %>
      <li>
      <%= report.title %>
      <%= report.published_on %>
      <% if (report.url) { %>
      <%= report.url %>
      <%= report.file_type.toUpperCase() %>
      <% } %>
      </li>
    <% } %>
    </ul>
    <a href="TODO">View more reports</a>
    <% } %>
    </div>
  <% } else { %>
    Error loading inspector information.
  <% } %>
</div></section>

<% include layout/footer.html %>
