<% include layout/header.html %>

<section class="center reports">
    <% include partials/search.html %>

    <% if (results) { %>

        <strong>
            <%= results.hits.total %>
            <% if (query_obj.featured) { %>
                featured
            <% } %>
            <% if (query_obj.original_query) { %>
                <% if (query_obj.inspector) { %>
                    reports matching "<%= query_obj.original_query %>" from
                    <% for (var i = 0; i < query_obj.inspector.length; i++) { %>
                        <a href="/inspectors/<%= query_obj.inspector[i] %>"><%= helpers.inspector_info(query_obj.inspector[i]).short_name %></a><% if (i < query_obj.inspector.length - 2) { %>,<% } else if (i == query_obj.inspector.length - 2) { %><% if (query_obj.inspector.length > 2) { %>,<% } %> and<% } %><% } %>.
                <% } else { %>
                    reports matching "<%= query_obj.original_query %>".
                <% } %>
            <% } else { %>
                <% if (query_obj.inspector) { %>
                    reports from
                    <% for (var i = 0; i < query_obj.inspector.length; i++) { %>
                        <a href="/inspectors/<%= query_obj.inspector[i] %>"><%= helpers.inspector_info(query_obj.inspector[i]).short_name %></a><% if (i < query_obj.inspector.length - 2) { %>,<% } else if (i == query_obj.inspector.length - 2) { %><% if (query_obj.inspector.length > 2) { %>,<% } %> and<% } -%><% } %>.
                <% } else { %>
                    reports.
                <% } %>
            <% } %>
        </strong>
        <% if (query_obj.page > 1) { %>
            <a href="/reports?<%= helpers.q({page: query_obj.page - 1, query: query_obj.original_query, inspector: query_obj.inspector, featured: query_obj.featured}) %>">
                Previous page</a>
        <% } %>
        <% if (results.hits.total > results.hits.hits.length) { %>
            Page <%= query_obj.page %>.
            <% if (query_obj.page == 1) { %>
                Showing the first <%= query_obj.size %>.
            <% } else { %>
                Showing <%= (query_obj.page - 1) * query_obj.size + 1 %>-<%= (query_obj.page - 1) * query_obj.size + results.hits.hits.length %>.
            <% } %>
            <% if (results.hits.total > query_obj.page * query_obj.size) { %>
                <a href="/reports?<%= helpers.q({page: query_obj.page + 1, query: query_obj.original_query, inspector: query_obj.inspector, featured: query_obj.featured}) %>">
                    Next page</a>
            <% } %>

        <% } %>

        <% var hits = results.hits.hits; %>
        <% if (hits.length > 0) { %>
            <ul>
                <% for (var i=0; i<hits.length; i++) { %>
                    <% var report = hits[i]._source; %>
                    <% var highlight = hits[i].highlight; %>
                    <li>
                        <h2>
                            <a href="/reports/<%= report.inspector %>/<%= encodeURIComponent(report.report_id) %>">
                                <%= report.title %></a>
                        </h2>
                        <h4>
                            <a href="/inspectors/<%= report.inspector %>">
                                <%= helpers.inspector_info(report.inspector).name %></a>
                            &mdash;
                            <%= report.agency_name %>
                            &mdash;
                            <%= report.published_on %>
                            <% if (report.url) { %>
                                &mdash;
                                <a href="<%= report.url %>">
                                    Full report</a>
                                <% if (report.file_type == "pdf") { %>
                                    (PDF)
                                <% } %>
                            <% } else if (report.unreleased) { %>
                                &mdash;
                                <% if (report.missing) { %>
                                    Unreleased/Missing
                                <% } else { %>
                                    Unreleased
                                <% } %>
                            <% } %>

                            <% if (report.landing_url) { %>
                                &mdash;
                                <a href="<%= report.landing_url %>">Summary</a>
                            <% } %>
                        </h4>
                        <% if (highlight && (highlight.text || highlight.summary)) { %>
                            <p>
                                <% if (highlight.text) { %>
                                    …<%- helpers.strip_ff(highlight.text[0]) %>…
                                <% } else if (highlight.summary) { %>
                                    …<%- helpers.strip_ff(highlight.summary[0]) %>…
                                <% } %>
                            </p>
                        <% } %>
                    </li>
                <% } %>
            </ul>
            <a href="<%= req.originalUrl.replace("/reports", "/reports.xml") %>">
                <img src="/images/feed-icon.png" alt="Atom feed of search results" title="Atom Feed">
            </a>
        <% } else { %>
            <p>
                No results right now.
            </p>
        <% } %>
    <% } else { %>
        Error performing the search!
    <% } %>
</section>

<% include layout/footer.html %>
