html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/****************************************
  Main styles for oversight.garden.
*****************************************/
/*********** Colors ************/
/************* Text sizes ********/
/************** Fonts *************/
/***** Main Layout ******/
h1, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: inline-block; }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 11pt;
  line-height: 25px;
  color: #f5f5f5;
  background-color: #136932; }
  body input {
    font-size: 11pt; }
  body a, body a:visited {
    color: #3EC04E; }
  body h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    display: block; }
  body pre {
    font-family: "Fira Mono", monospace; }

header, section.main, footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  header:last-child, section.main:last-child, footer:last-child {
    margin-right: 0; }

header {
  padding: 20px 20px; }
  header h1 {
    font-size: 2em; }
    header h1 a, header h1 a:visited {
      text-decoration: none;
      color: #fff; }

section.main {
  color: #0a0a0a;
  background-color: #f5f5f5;
  padding: 30px 20px; }
  section.main a, section.main a:visited {
    color: #297432; }
  section.main .search-bar input[type='search'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: 0; }
    section.main .search-bar input[type='search']:last-child {
      margin-right: 0; }

footer {
  padding: 10px 20px; }
  footer p {
    margin: 5px 0; }

/******* Home page **********/
.home .search-bar-container {
  margin-bottom: 20px; }
.home .intro, .home .featured {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .home .intro:last-child, .home .featured:last-child {
    margin-right: 0; }
.home .intro p {
  padding-bottom: 13px; }
.home .featured {
  background-color: #d0ebc1;
  padding: 10px; }
  .home .featured h2 {
    margin-bottom: 10px; }
  .home .featured h4 {
    margin-bottom: 10px; }
  .home .featured p {
    margin-bottom: 10px; }
  .home .featured .tl input[type=text] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 2px 5px; }
    .home .featured .tl input[type=text]:last-child {
      margin-right: 0; }
  .home .featured .tl input[type=submit] {
    padding: 2px 10px; }

/******* Document search results. **/
.reports ul, .reports li {
  list-style-type: none; }
.reports li {
  margin: 40px 0; }
  .reports li h2 a {
    text-decoration: none; }
  .reports li h2 a:hover {
    text-decoration: underline; }
  .reports li h4 {
    margin: 10px 0; }
  .reports li p {
    font-family: Average, serif;
    background-color: #e5e5e5;
    padding: 5px 10px;
    margin: 10px 0; }

/******* Report landing page. ********/
.report h2 {
  font-size: 20px;
  line-height: 31px; }
.report h4 {
  display: block;
  margin-top: 10px; }
.report p {
  margin-top: 30px; }
.report .text {
  border: 1px solid #888;
  margin: 40px 0;
  padding: 40px; }

/******* Office landing page. ******/
.inspector .infobox {
  background-color: #d0ebc1;
  padding: 20px;
  margin-bottom: 40px; }

/************* List of offices. ********/
.inspectors ul, .inspectors li {
  list-style-type: none; }
.inspectors li {
  margin: 40px 0; }
  .inspectors li div {
    vertical-align: top; }
.inspectors .inspector-info {
  display: inline-block; }
.inspectors .inspector-link {
  display: block; }

/*# sourceMappingURL=main.css.map */
