# unitedstates/inspectors-general data directory, defaults to ./data
inspectors:
  data: data

# unitedstates/reports data directory, uncomment and change to point to a
# clone of https://github.com/unitedstates/reports.git
#reports:
#  data: ../reports

# elasticsearch server address
elasticsearch:
  host: 127.0.0.1
  port: 9200
  index_read: oversight_read
  index_write: oversight_write

# http server exposed by the app
http:
  port: 3000

# automatically ping search engines after generating the sitemap
sitemap:
  ping_google: false
  ping_bing: false
  ping_yahoo: false
  yahoo_app_id:
  ping_ask: false
  ping_yandex: false
