<!doctype html>

<!--
  Oversight,
  collecting the oversight community's work in one place.

  Contributors: https://oversight.garden/humans.txt
  Code: https://github.com/konklone/oversight.garden
  Data gathering: https://github.com/unitedstates/inspectors-general
-->

<html lang="en">
<head>

<% if ((typeof(report) != "undefined") && report) { %>
    <title>
        <%= helpers.inspector_info(report.inspector).name %> | <%= report.agency_name %> | <%= report.title %>
    </title>
    <meta name="og:title" content="<%= helpers.inspector_info(report.inspector).name %> | <%= report.agency_name %> | <%= report.title %>" />
    <meta name="description" content="<%= report.title %>" />
    <meta name="og:description" content="<%= report.title %>" />
<% } else { %>
    <title>
        Oversight | Collecting the oversight community's work in one place.
    </title>
    <meta name="og:title" content="Oversight">
    <meta name="description" content="Collecting the oversight community's work in one place." />
    <meta name="og:description" content="Collecting the oversight community's work in one place." />
<% } %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="Oversight">
<% if (typeof(referrer_policy) !== "undefined") { %>
    <meta name="referrer" content="<%= referrer_policy %>">
<% } %>

<meta name="author" content="Eric Mill" />

<meta name="twitter:creator" content="@konklone" />
<meta name="twitter:creator:id" content="5232171" />
<meta name="twitter:site" content="@konklone" />
<meta name="twitter:site:id" content="5232171" />
<meta name="twitter:url" content="https://oversight.garden" />

<link rel="search" type="application/opensearchdescription+xml" href="/opensearch_desc.xml" title="Oversight"/>
<link rel="vcs-git" href="https://github.com/konklone/oversight.garden" title="code for oversight.garden" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="canonical" href="https://oversight.garden<%= req.originalUrl %>" />

<% if (typeof(query_obj) != "undefined" && query_obj.length) { -%>
  <link rel="alternate" type="application/atom+xml" title="Search Results" href="/reports.xml?<%= helpers.format_qs(query_obj, {page: 1}) %>" />
<% } -%>

<meta name="twitter:card" content="summary" />

<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css?<%= helpers.boot_time %>" />
<link rel="stylesheet" type="text/css" href="/chosen/chosen.min.css" />

</head>
<body>
<main class="main">

<form action="/reports" method="get">

<header class="header">
    <h1 class="logo">
        <a href="/">oversight</a>
    </h1>

    <div class="search-bar">
        <input type="search" name="query" placeholder="Find oversight documents" value="<%= (typeof(query_obj) != "undefined") ? query_obj.original_query : "" %>">
        <input type="submit" value="">
    </div>

    <nav>
        <ul>
            <li>
                <a href="/reports">Latest reports</a>
            </li>
            <li>
                <a href="/about" target="_blank">About this project</a>
            </li>
        </ul>
    </nav>
</header>

<% if ((typeof(form_tag_open) == "undefined") || !form_tag_open) { %>
</form>
<% } %>
