<!--
  Oversight.io,
  bringing into sight the US government's oversight community.

  Built and maintained by Eric Mill. (@konklone, konklone.com)

  A Node app, with Express for a web server, and Elasticsearch
  for persistence. Open source, under a GPLv3 license:
  https://github.com/konklone/oversight

  This app would be entirely impossible without the public domain,
  volunteer-driven project to gather IG reports in bulk:
  https://github.com/unitedstates/inspectors-general

  Thanks to Lindsay Young, Travis Briggs, David Cook, Steve Pulec,
  Andrew Dai, and any contributors to that project not listed here.
-->

<!doctype html>
<html lang="en">
<head>

<% if ((typeof(report) != "undefined") && report) { %>
  <title>
    <%= report.agency_name %> | <%= report.title %>
  </title>
  <meta name="og:title" content="<%= helpers.escape_attribute(report.agency_name) %> | <%= helpers.escape_attribute(report.title) %>" />
  <meta name="description" content="<%= helpers.escape_attribute(report.title) %>" />
  <meta name="og:description" content="<%= helpers.escape_attribute(report.title) %>" />
<% } else { %>
  <title>
    Oversight.io | Bringing into sight the US government's oversight community.
  </title>
  <meta name="og:title" content="Oversight.io">
  <meta name="description" content="Bringing into sight the US government's oversight community." />
  <meta name="og:description" content="Bringing into sight the US government's oversight community." />
<% } %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="Oversight.io">


<meta name="author" content="Eric Mill" />

<meta name="twitter:creator" content="@konklone" />
<meta name="twitter:creator:id" content="5232171" />
<meta name="twitter:site" content="@konklone" />
<meta name="twitter:site:id" content="5232171" />
<meta name="twitter:url" content="https://oversight.io" />

<link rel="vcs-git" href="https://github.com/konklone/oversight.io" title="code for oversight.io" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="canonical" href="https://oversight.io<%= req.originalUrl %>" />

<meta name="twitter:card" content="summary" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Average" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/html5-reset.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css?<%= (new Date()).getTime() %>" />

</head>
<body>

<header><div class="inner">
  <div>
    <h1>
      <a href="/">Oversight.io</a>
    </h1>
  </div>

  <p>
  Searching
  <a class="browse" href="/reports">
  over 40,000 reports</a>
  from various <a href="https://github.com/unitedstates/inspectors-general#inspectors-general">inspectors general</a>
  in the US federal government.
  </p>

</div></header>
