<!doctype html>

<!--
  Oversight.garden,
  collecting the oversight community's work in one place.

  Contributors: https://oversight.garden/humans.txt
  Code: https://github.com/konklone/oversight.garden
  Data gathering: https://github.com/unitedstates/inspectors-general
-->

<html lang="en">
<head>

<% if ((typeof(report) != "undefined") && report) { %>
    <title>
        <%= helpers.inspector_info(report.inspector).name %> | <%= report.agency_name %> | <%= report.title %>
    </title>
    <meta name="og:title" content="<%= helpers.inspector_info(report.inspector).name %> | <%= report.agency_name %> | <%= report.title %>" />
    <meta name="description" content="<%= report.title %>" />
    <meta name="og:description" content="<%= report.title %>" />
<% } else { %>
    <title>
        oversight.garden | Collecting the oversight community's work in one place.
    </title>
    <meta name="og:title" content="oversight.garden">
    <meta name="description" content="Collecting the oversight community's work in one place." />
    <meta name="og:description" content="Collecting the oversight community's work in one place." />
<% } %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="oversight.garden">


<meta name="author" content="Eric Mill" />

<meta name="twitter:creator" content="@konklone" />
<meta name="twitter:creator:id" content="5232171" />
<meta name="twitter:site" content="@konklone" />
<meta name="twitter:site:id" content="5232171" />
<meta name="twitter:url" content="https://oversight.garden" />

<link rel="vcs-git" href="https://github.com/konklone/oversight.garden" title="code for oversight.garden" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="canonical" href="https://oversight.garden<%= req.originalUrl %>" />

<% if (req.originalUrl.startsWith("/reports")) { -%>
  <link rel="alternate" type="application/atom+xml" title="Search Results" href="<%= req.originalUrl.replace("/reports", "/reports.xml") %>" />
<% } -%>

<meta name="twitter:card" content="summary" />

<link rel='stylesheet' type='text/css' href='/css/fonts.css' />
<link rel="stylesheet" type="text/css" href="/css/main.css?<%= helpers.boot_time %>" />

</head>
<body>
<main class="main">

<header class="header">
    <h1 class="logo">
        <a href="/">oversight</a>
    </h1>

    <nav>
        <ul>
            <li>
                <a href="/reports">Latest reports</a>
            </li>
            <li>
                <a href="https://sunlightfoundation.com/blog/2014/11/07/opengov-voices-opening-up-government-reports-through-teamwork-and-open-data/">About this project</a>
            </li>
            <li>
                <form action="/reports" method="get" class="search-bar">
                    <input type="search" id="query" name="query" placeholder="Search..." />
                </form>
            </li>
        </ul>
    </nav>
</header>
